*{
    margin: 0;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
}

.nav-bar{
    /* background-color: brown; */
    margin: 0 10%;
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    align-items: center;
    border-bottom: solid 1px hsl(220, 14%, 90%);
   
}

.container-logo{
    display: flex;
    width: 20%;
   order: 1;
}
#menu{
    display: none;

}
.nav-sections{
    display: flex;
    /* background-color: yellow; */
    width: 60%;
    align-items: center;
    height: 100px;
    order: 2;
}
ul.sections{
    display: flex;
    color: hsl(220, 14%, 75%);
    padding-left: 0px;
    gap: 3rem;
    list-style: none;
    margin:  0;
    
    
  }

a.sections{
    
    display: flex;
    height: 100px;
    text-decoration: none;
    color: inherit;
    align-items: center;
}
a.sections:hover {
    color: hsl(220, 13%, 13%);
    align-items: center;
    border-bottom: solid 4px hsl(26, 100%, 55%);
}

.nav-perfil{
    min-width: 20%;
    display: flex;
    justify-content: space-evenly;
    order: 3;
}
.container-car{
    
    align-self: center;
    cursor: pointer;
    /* background-color: #f0f0f0; */
}
.container-perfil{
    align-self: center;
    /* background-color: hsl(26, 100%, 55%); */
    height: 50px;
    cursor: pointer;
    display: flex;
    padding: 2px;
    border-radius: 30px;
}

#img-perfil{
    align-self: center;
    
    height: 100%;
    /* background-color: blue; */
    /* padding: 3px; */
    
}

/* ---------------------- Main ---------------------- */

.main-container{
    /* background-color: #f0f0f0;  */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
    min-height: 100vh ;
    /* width: 100%; */
    /* gap: 15%;  */
    margin: 0 15%;
    margin-top: 5%;
    
}
.text-contrast{
    color: hsl(26, 100%, 55%);
}
.product-presentation{
    /* background-color: aqua; */
    width: 100%;
    order: 0;
}

.img-product{
    height: auto;
    width: 100%;
    border-radius: 10px;
}



.test{
    /* background-color: blueviolet; */
    
    max-width: 40%;
    
    min-height: 50%;
    /* margin-top: 10px;
    padding: 5px; */
}
.product-description{
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    height: auto; 
    width: 100%;
    order: 1;
    /* gap: 2rem ; */
}
#title{
    /* margin: 20px 0; */
    font-size: 3rem;
    font-weight: 700;
   
}
.description{
    margin-top: 20px;
    
}
.description > .text-des{
    margin: 20px 0;
   
}

.prices{
    /* display: flex; */
    margin-top: 0px;
    
}
#discount{
    display: inline-block;
    /* align-self: center; */
    font-weight: 700;
    background-color: hsl(26, 100%, 90%);
    border-radius: 8px;
    margin-bottom: 2px;
    margin-left: 10px;
    padding: 2px 8px;
}
.before-price{
    
    text-decoration: line-through;
    /* align-self: self-end; */
}
#price{
    font-weight: 700;
    display: inline-block;
}
.text-light{
    color: hsl(219, 9%, 45%);
}

.product-previews{
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    /* margin-top: 30px; */
    height:auto;
    width: 100%;
    order: 3;
    margin-top: 40px;
}
.preview{
    background-color: brown;
    height: 80px;
    border-radius: 12px;
    
}
.img-product-preview{
    height: 100%; 
    width: 100%;
    border-radius: 10px;
    /* border-radius: 10px;
    border: 2px solid hsl(26, 100%, 55%); */
}

.count-products{
    order: 4;
    /* background-color: aqua; */
    display: flex;
    height:auto;
    /* margin-top: 30px; */
    min-width: 40%;
    margin-top: 20px;
}

.btn-count{
    background-color: hsl(230,60%,98%);
    display: flex;
    justify-content: space-between;
    height: 50px;
    min-width: 100%;
    
}
.btn-control{
    background-color: #f0f0f0; 
    display: flex;
    justify-content: space-around;
    min-width: 40%;
    height: auto;
    border-radius: 12px;
    
   
}

.number-count{
    
    margin: auto 0;
}

.btn-add{
    color: #f0f0f0;
    background-color: hsl(26, 100%, 55%);
    box-shadow: 0px 22px 16px -3px hsl(25, 100%, 94%);
    width: 200px;
    min-width: 50%;
    border-radius: 10px;
    border: none;
}
.btn-add:hover{
    background-color: hsl(27,100%,71%);
}
#minus{
    margin: 2px 0px;
    
}

.btn-minus:hover, .btn-plus:hover{
    filter: brightness(150%);
    cursor: pointer;
}

/* .btn-count > *{
    display: inline-block;
} */


.preview :hover{
    border: 2px solid hsl(26, 100%, 55%);
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


@media(max-width: 920px){
    body{
        /* background-color: red; */
        font-size: 20px;
    }
    .nav-bar{
        background-color: white; 
        margin:0;
        height: 80px;
        width: 100%;
        position: fixed;
        justify-content: space-between;
    }

    .nav-sections{
        display: none;
    }

    #menu{
        display: block;
        margin: 0 30px;
    }

    .main-container{
        background-color: #f0f0f0; 
        display: block;        
        margin: 0 0;
    }

    .test{
        max-width: 100%;
    }

    .img-product {
        /* height: 100%;
        width: 100%; */
        border-radius: 0px;
    }

    .count-products{
        display: block;
        height: 100px;
    }
    .btn-count{
    display: block;
    }

    .btn-count > *{
        height: 50px;
    }

    .btn-add{
        width: 90%;
        margin: 10px 0;
        margin-left: 5%;

    }

    .product-previews{
        display: none;
    }

    
}